@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Londrina+Shadow&family=Poor+Story&display=swap');

a{
    text-decoration: none;
    color: black;
}

.homeHeader{
    height: 10vh;
    background: #3E4958;
    width: 100%;
}

.homeLogo{
    position: relative;
    margin-left: 5%;
    height: 100%;
    display: flex;
    align-items: center;
}

.homeLogoImage{
    scale: 0.75;
}

.homeBody{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.homeBodyFirstItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homeBodySecondItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    cursor: pointer;
}

.homeBodySlogan{
    font-family: 'Poor Story';
    font-size: 2rem;
}
  
.homeBodyName, .stepHeaderSlogan{
    font-family: 'Londrina Shadow';
    font-size: 6rem;
}

.homeBodySelector{
    font-family: 'Londrina Shadow';
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 5vh;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
}

#pensionSelector, #motelSelector{
    opacity: 0.5;
}

.stepHeaderDescription, .countText, .checkText, .stepText, .budgetText{
    font-family: 'Poor Story';
    font-size: 1.5rem;
}

.checkedTrue, .checkedFalse, .searchLocation, .searchLocationText, .aroundLocation{
    font-family: 'Poor Story';
    font-size: 1.25rem;
}

.searchLocationText{
    display: none;
}

.checkedTrue, .checkedFalse{
    color: #2772B7;
    cursor: pointer;
}

.stepHeaderItem{
    display: flex;
    flex-direction: column;
    height: 35vh;
    align-items: center;
    justify-content: center;
    gap: 1vh;
}

.stepBody{
    height: 45vh;
}

#stepOne, #stepThree{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.countPersonFlex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5vh;
}

.countInnerFlex{
    display: flex;
    flex-direction: column;
}

.countFlex{
    display: flex;
    flex-direction: row;
}

.arrowFlex{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.checkPersonTypeFlex{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
}

.checkPersonInnerFlex{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}

.countFlex{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vh;
}

.checkFlex{
    display: flex;
    flex-direction: row;
    gap: 3vh;
}

.countImage, .arrowImage{
    scale: 0.75;
}

.arrowImage{
    cursor: pointer;
}

.stepArrowImage{
    scale: 0.5;
}

.checkedTrue, .checkedFalse{
    border: 1px solid #0075FF;
    border-radius: 10px;
    width: 4rem;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stepFooter{
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.stepFlex{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.countBudgetInnerFlex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vh;
    align-items: center;
}

.budgetInputFlex{
    display: flex;
    flex-direction: row;
    gap: 1vh;
    align-items: center;
}

.budgetRangeText{
    font-family: 'Poor Story';
    color: #0075FF;
    font-size: 1.5rem;
}

.budgetInputBox{
    border: 1px solid #0075FF;
    border-radius: 10px;
    width: 4rem;
    height: 5vh;
    text-align: center;
    font-size: 1.25rem;
    font-family: 'Poor Story';
}

#stepZero{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    justify-content: flex-start;
    gap: 5vh;
}

.searchLocation{
    width: 15rem;
    height: 5vh;
    border: 1px solid #0075FF;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #979393;
    background-image: url('/public/img/search-interface-symbol 1.svg');
    background-position: 5% 50%;
    background-repeat: no-repeat;
    background-size: 10%;
    cursor: pointer;
}

.aroundLocation{
    width: 15rem;
    height: 5vh;
    background: #2772B7;
    border: 1px solid #0075FF;
    border-radius: 10px;
    /*display: flex;*/
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
}

.setLocationHeader{
    display: flex;
    height: 10vh;
    width: 100%;
    align-items: center;
}

.setLocationHeader > .image{
    height: 100%;
    left: 5%;
    position: relative;
    width: 0;
    display: flex;
    scale: 0.5;
}

.setLocationHeader > .text{
    font-family: 'Poor Story';
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
}

.setLocationBody{
    height: 90vh;
    width: 100%;
    display: flex;
    border-top: 1px solid #D9D9D9;
}

.mainLocationBody{
    height: 100%;
    width: 35%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subLocationBody{
    height: 100%;
    width: 65%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainLocation{
    background: rgb(217, 217, 217, 0.5);
    border-bottom: 1px solid #d9d9d9;
    width: 100%;
    height: 7.5vh;
    display: flex;
    align-items: center;
    font-family: 'Poor Story';
    cursor: pointer;
}

.mainLocationName{
    margin-left: 5%;
}

.subLocation{
    border-bottom: 1px solid #d9d9d9;
    height: 7.5vh;
    width: 90%;
    display: flex;
    align-items: center;
    font-family: 'Poor Story';
    cursor: pointer;
}

.searchCalendar{
    width: 15rem;
    height: 5vh;
    border: 1px solid #0075FF;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #979393;
    background-image: url('/public/img/calendar 1.svg');
    background-position: 5% 50%;
    background-repeat: no-repeat;
    background-size: 10%;
    font-family: 'Poor Story';
    cursor: pointer;
}

.clickCalendar{
    margin-top: 1rem;
    font-family: 'Poor Story';
    width: 30%;
    border: none;
    background-color: #2772B7;
    height: 4vh;
    color: white;
}

#stepTwo{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.calendarDisplay{
    display: none;
    flex-direction: column;
    align-items: center;
}

.filterBox{
    width: 5rem;
    height: 2rem;
    border-radius: 30px;
    border: 0.5px solid #3E4958;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.listBody{
    height: 80vh;
}

.listBodyHeader{
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
  
.listHotelHeader{
    position: relative;
    margin-left: 5%;
    font-size: 1.5rem;
    font-family: 'ABeeZee';
}
  
.listHotelHeaderText{
    font-style: italic;
}

.filterFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
}

.filterBoxFlex{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.filterIcon{
    cursor: pointer;
}

.hotelList > div:nth-child(1){
    margin-top: 1vh;
}
  
.hotelList > div:nth-last-child(1){
    margin-bottom: 1vh;
}

.hotelList{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    gap: 1rem;
    height: 70vh;
}

.hotelBox{
    position: relative;
    width: 90%;
    left: 5%;
    min-height: 12.5vh;
    max-height: 12.5vh;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vh;
}

.hotelImage{
    padding-left: 2vh;
}
  
.hotelImage > img{
    border-radius: 20px;
}
  
.hotelImage, .hotelImage > img{
    height: 8vh;
    width: 8vh;
}

.hotelInfo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.roomInfo{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    width: 65%;
}

.moreInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}

.roomName, .roomPrice{
    font-family: 'ABeeZee';
    font-size: 1rem;
    color: #3E4958;
}

.roomPrice{
    font-family: 'ABeeZee';
    font-size: 1rem;
}

.hotelName, .hotelDistance{
    font-family: 'ABeeZee';
    font-size: 0.75rem;
    color: #3E4958;
}

.hotelDistance{
    opacity: 0.6;
}

.moreLink{
    background: #2772B7;
    border: 1px solid #0075FF;
    border-radius: 10px;
    width: 80%;
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    color: white;
    font-family: 'ABeeZee';
    cursor: pointer;
}

.starImage{
    position: absolute;
    width: 1rem;
    height: 1rem;
}

.starImage > img{
    width: 1rem;
    height: 1rem;
}

.hotelRating{
    position: absolute;
    left: 4.25vh;
    font-family: 'ABeeZee';
}

.ratingFlex{
    display: flex;
    flex-direction: row;
}

.filterActivityIndicator, .activityIndicator{
    height: 3rem;
    position: fixed;
    top: 50%;
    display: none;
    width: 100%;
    justify-content: center;
}

.activityIndicator > img{
    width: 3rem;
    height: 3rem;
}

.recommendationFooter{
    position: relative;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.goHomeButton{
    width: 50%;
    height: 5vh;
    background: #2772B7;
    border: 1px solid #0075FF;
    border-radius: 10px;
    font-size: 1.25rem;
    font-family: 'Poor Story';
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.filterHeader{
    height: 5vh;
    display: flex;
    align-items: center;
}

.filterOut{
    position: relative;
    left: 5%;
    width: 0;
    height: 100%;
}

.filterOutIcon{
    scale: 0.75;
    cursor: pointer;
}

.filterText{
    position: relative;
    margin-left: 5%;
    font-size: 1.25rem;
}

.filterBody{
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.amenities{
    display: flex;
    flex-direction: column;
}

.filterFacilityText{
    font-size: 1.25rem;
    text-align: center;
    width: 100%;
}

.filterGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem;
    row-gap: 0.5rem;
}

.checkmarkFlex{
    display: flex;
    gap: 0.5rem;
}

@media (min-width: 480px) {
    .hotelInfo{
        justify-content: space-around;
    }
}